
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myOfferedServiceLabel" translate="zetravelcloudApp.offeredService.home.createOrEditLabel">Create or edit a OfferedService</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="offeredService.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="zetravelcloudApp.offeredService.sellingPrice" for="field_sellingPrice">SellingPrice</label>
            <input type="number" class="form-control" name="sellingPrice" id="field_sellingPrice"
                    ng-model="offeredService.sellingPrice"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="zetravelcloudApp.offeredService.cost" for="field_cost">Cost</label>
            <input type="number" class="form-control" name="cost" id="field_cost"
                    ng-model="offeredService.cost"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="zetravelcloudApp.offeredService.detailsId" for="field_detailsId">DetailsId</label>
            <input type="number" class="form-control" name="detailsId" id="field_detailsId"
                    ng-model="offeredService.detailsId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="zetravelcloudApp.offeredService.confirmationDate" for="field_confirmationDate">ConfirmationDate</label>
            <input id="field_confirmationDate" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="offeredService.confirmationDate" is-open="datePickerForConfirmationDate.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForConfirmationDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>

        <div class="form-group">
            <label translate="zetravelcloudApp.offeredService.currency" for="field_currency">currency</label>
            <select class="form-control" id="field_currency" name="currency" ng-model="offeredService.currency" ng-options="currency as currency.symbol for currency in currencys track by currency.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="zetravelcloudApp.offeredService.offeredServiceType" for="field_offeredServiceType">offeredServiceType</label>
            <select class="form-control" id="field_offeredServiceType" name="offeredServiceType" ng-model="offeredService.offeredServiceType" ng-options="offeredServiceType as offeredServiceType.name for offeredServiceType in offeredservicetypes track by offeredServiceType.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="zetravelcloudApp.offeredService.serviceProvider" for="field_serviceProvider">serviceProvider</label>
            <select class="form-control" id="field_serviceProvider" name="serviceProvider" ng-model="offeredService.serviceProvider" ng-options="serviceProvider as serviceProvider.name for serviceProvider in serviceproviders track by serviceProvider.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="zetravelcloudApp.offeredService.travelRequest" for="field_travelRequest">travelRequest</label>
            <select class="form-control" id="field_travelRequest" name="travelRequest" ng-model="offeredService.travelRequest" ng-options="travelRequest as travelRequest.id for travelRequest in travelrequests track by travelRequest.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
