
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myTravelerLabel" translate="zetravelcloudApp.traveler.home.createOrEditLabel">Create or edit a Traveler</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="traveler.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="zetravelcloudApp.traveler.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="traveler.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="zetravelcloudApp.traveler.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="traveler.email"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="zetravelcloudApp.traveler.phone" for="field_phone">Phone</label>
            <input type="text" class="form-control" name="phone" id="field_phone"
                    ng-model="traveler.phone"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="zetravelcloudApp.traveler.dateOfBirth" for="field_dateOfBirth">DateOfBirth</label>
            <input id="field_dateOfBirth" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="traveler.dateOfBirth" is-open="datePickerForDateOfBirth.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForDateOfBirthOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
