
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myHotelLabel" translate="zetravelcloudApp.hotel.home.createOrEditLabel">Create or edit a Hotel</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="hotel.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="zetravelcloudApp.hotel.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="hotel.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="zetravelcloudApp.hotel.address" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                    ng-model="hotel.address"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="zetravelcloudApp.hotel.stars" for="field_stars">Stars</label>
            <input type="number" class="form-control" name="stars" id="field_stars"
                    ng-model="hotel.stars"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="zetravelcloudApp.hotel.provider" for="field_provider">Provider</label>
            <input type="text" class="form-control" name="provider" id="field_provider"
                    ng-model="hotel.provider"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
