<div>
    <h2 translate="zetravelcloudApp.hotel.home.title">Hotelsssss</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="hotel.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
                        translate="zetravelcloudApp.hotel.home.createLabel">Create new Hotel
                    </span>
                </button>
            </div>
        </div>
    </div>

    <br/>
    	<form name="findHotelForm" role="form" novalidate ng-submit="findHotel()">

		<div class="form-group">
			<label class="control-label" translate="zetravelcloudApp.hotel.findHotel.hotelName"
				for="field_name">Hotel Name</label> <input type="text"
				class="form-control" name="name" id="field_name"
				ng-model="searchCriteria.hotel.name" />
			<label class="control-label" translate="zetravelcloudApp.hotel.findHotel.stars"
				for="field_stars">Stars</label> <input type="number"
				class="form-control" name="stars" id="field_stars"
				ng-model="searchCriteria.hotel.stars" />

            <label class="control-label" translate="zetravelcloudApp.hotel.findHotel.checkin" for="field_checkin">Checkin</label>
            <input id="field_checkin" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="searchCriteria.checkin" is-open="datePickerForCheckin.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForCheckinOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>

            <label class="control-label" translate="zetravelcloudApp.hotel.findHotel.checkout" for="field_checkout">Checkout</label>
            <input id="field_checkout" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="searchCriteria.checkout" is-open="datePickerForCheckout.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForCheckoutOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>

		</div>

		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-4 no-padding-left">
					<button type="submit" class="btn btn-info">
						<span class="glyphicon glyphicon-search"></span>&nbsp;<span
							translate="zetravelcloudApp.hotel.findHotel.findHotelBtn"> Find
							Hotel</span>
					</button>
				</div>
			</div>
		</div>
	</form>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <tbody ng-repeat="hotel in hotels track by hotel.id">
                <tr>
                    <td>{{hotel.name}}</td>
                    <td>{{hotel.address}}</td>
                    <td><img ng-repeat="n in [] | range:hotel.stars" src="assets/images/star_small.png" width="25"/></td>
                    <td>{{hotel.provider}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="hotel.detail({id:hotel.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
							<button type="submit"
                                    ng-click="addHotelToProposal(hotel)"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-plus"></span>
                                <span class="hidden-xs hidden-sm" translate="zetravelcloudApp.hotel.findHotel.addToProposalBtn"></span>
                            </button>
<!--                        <button type="submit"
                                    ui-sref="hotel.edit({id:hotel.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="hotel.delete({id:hotel.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
 -->
                        </div>
                    </td>
                </tr>
                <tr ng-show="hotel.rooms != 0" ng-repeat="room in hotel.rooms">
                    <td>Room type: {{room.type}}</td>
                    <td>Nb of Adults{{room.numberOfAdults}}</td>
                    <td>{{room.price}} {{room.currency.symbol}}</td>
                </tr>
                
            </tbody>
        </table>
    </div>
    <div ng-show="!proposalIsEmpty()" style="position: fixed; bottom: 1em;left: 1em;">
    {{nbOfHotelsInProposal()}} hotel(s) in the proposal
    <br>
	<button type="submit"
			ui-sref="hotel.proposal"
	        class="btn btn-info btn-sm"> 
	    <span class="glyphicon glyphicon-eye-open"></span>
	    <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
	</button>
    
    </div>
</div>
